:root {
	--bg-color: #d2deef;
	--page-bg: #7aacc0;
	--text-color: #464545;
	--inner-shadow: inset 5px 5px 10px #b3bdcb, inset -5px -5px 10px #f2ffff;
	--smaller-shadow: 1px 1px 2px #b3bdcb, -1px -1px 2px #f2ffff;
    --outer-shadow: 5px 5px 10px #b3bdcb, -5px -5px 10px #f2ffff;
	--linear-background: linear-gradient(145deg, #e1eeff, #a5b1c2);
	--tab-shadow: 5px 5px 10px #6892a3, -5px -5px 10px #8cc6dd;
	--linear-tab: linear-gradient(145deg, #83b8cd, #6e9bad);
}

.about-banner {
	width:100%;
	min-height: 98vh;
	background-color: var(--bg-color);
	box-shadow: var(--inner-shadow);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 5% 0 0;
}

.about-profile {
	max-height: 300px;
	width: auto;
}

.about-profile img {
	display: block;
	object-fit: cover;
	max-width: 300px;
	box-shadow: var(--outer-shadow);
    border-radius: 10px;	
}
.about-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	width: 50%;
	height:80%;
}
.about-text h1{
	font-size: 5rem;
	color:#17d1ac;
	
}
.about-text h2{
	font-size: 3rem;
	color:#ff3773 ;
	font-weight: 400;
}
.about-text h1,h2{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.about-text p{
	margin-top: 1%;
	font-size: 1.2rem;
	color: var(--text-color);
	
}
.about-tabs {
	margin-top: 10px;
}
.about-scroll-btn {
	position: absolute;
	top: 2%;
	right: 50%;
	border: none;
}

.about-scroll-btn i {
	margin: 2px 12px;
	color:#17d1ac;
}

.arrow-line {
	align-self: end;
	width: 50%;
	height: 12%;
	margin-bottom: 4em;
	position: absolute;
	bottom: 35%;
	left: -3%;
	border-right: 1px solid  rgba(23, 209, 172, 0.5);
}
 
.arrow-line::after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 11px;
  border-color:  rgba(23, 209, 172, 0.9) transparent transparent transparent;
  right: -.7em;
  bottom: -2px;
}

.social{
	position: absolute;
	right: 40%;
	bottom: 5%;
	display: flex;
}

.social a {
	margin: 6px 12px;
	padding: 2% 0;
	padding-left: 2%;
	background: var(--linear-background);
	box-shadow: var(--outer-shadow);
    border-radius: 10px;
}
.social i {
	color:#ff3773;
	font-size: 1em;
}

#info.page,
#technical_skills.page {
	min-height: 95vh;
}

/* ----------------- Second About page -----------------*/

#technical_skills.page {
	margin-top: 10px;
}
/*------------------------- skills tab ----------------------*/

.expertise-section {
	background: var(--bg-color);
	box-shadow: var(--inner-shadow);
	border-radius: 10px;
	margin-top: 20px;
	min-height: 90vh;
	padding: 20px;
}

.expertise-section .tab-content:not(.active) {
	display: none;
}

.tab-item {
	background: var(--linear-background);
	box-shadow: var(--tab-shadow);
	border-radius: 10px;
	font-weight: bold;
}

.programming-languages {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-radius: 10px;
	padding: 30px;
	margin: 20px auto;
	box-shadow: var(--inner-shadow);
}

.language {
	text-align: center;
}

.language .icon {
	font-size: 3rem;
}

.skills.tab-content {
	flex: 0 0 100%;
	max-width: 100%;
}

.skill-item-wrapper {
	display: flex;
	flex-wrap: wrap;
	background: var(--bg-color);
	color: var(--text-color);
	box-shadow: var(--outer-shadow);
	border-radius: 10px;
	padding: 1%;
	width: 100%;
	min-height: 50vh;
}

.skill-item {
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 1%;
	margin-top: 10px;
	text-transform: capitalize;
}

.skill-item p {
	font-size: 1.1rem;
}

.skill-item span{
	float: right;
	padding-right: 40%;
}

.progress-bar{
	height: 1.2vw;
	padding: 0.8%;
	margin: 0;
	border: none;
	border-radius: 10px;
	background: var(--bg-color);
	box-shadow: var(--inner-shadow);
}

.progress-bar div {
	background-color: rgba(255, 55, 115, 0.8);
	height: 0.5vw;
	text-align: center;
	z-index: -1;
	border-radius: 5px;
}

.progress-bar .html-skill { width: 80%; }
.progress-bar .javascript-skill { width: 60%; }
.progress-bar .css-skill { width: 75%; }
.progress-bar .react-skill { width: 65%; }
.progress-bar .node-skill { width: 60%; }
.progress-bar .ruby-skill { width: 60%; }

/*-------------------- End of skills tab------------------*/

/*------------------------- experience and education tab ----------------------*/

.timeline {
	border-radius: 10px;
	margin-top: 20px;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0;
}

.timeline::before {
	content: '';
	width: 1px;
	height: 100%;
	position: absolute;
	left: 53.8%;
	background:rgba(151, 38, 72, 0.8);
	z-index: 0;
}

.timeline-item {
	flex: 0 0 100%;
	max-width: 100%;
}

.timeline-item:nth-child(odd) {
	padding-right: calc(50% + 3vw);
	text-align: right;
}

.timeline-item:nth-child(even) {
	padding-left: calc(50% + 3vw);
}

.timeline-item-inner {
	background: var(--bg-color);
	box-shadow: var(--outer-shadow);
    border-radius: 10px;
	color: var(--text-color);
	padding: 1% 2%;
	position: relative;
}

.timeline-item-inner .icon {
	position: absolute;
	width: 2vw;
	height:2vw;
	padding-top: 3px;
	color:#17d1ac;
	text-align: center;
	background: var(--bg-color);
	box-shadow: var(--outer-shadow);
	border-radius: 50%;
}

.timeline-item:nth-child(odd) .icon {
	right: -10.9%;
}

.timeline-item:nth-child(even) .icon {
	left: -9.8%;
}

.timeline-item-inner span {
	font-weight: 500;
	color: #ff3773;
	text-transform: capitalize;
}

.timeline-item-inner h3 {
	font-size: 1.4rem;
	font-weight: 500;
	text-transform: capitalize;
}

.timeline-item-inner h4 {
	font-style: italic;
	color: #00c3ff;
	font-weight: 500;
}

/*-------------------- End of experience and education tab ------------------*/

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
	.about-banner {
		padding-left: 2%;
	}

	.about-text h1 {
		font-size: 2rem;
	}

	.about-text h2 {
		font-size: 1.8rem;
		margin-top: 5%;
	}

	.about-text p {
		font-size: 1.3rem;
		margin-top: 2%;
	}

	.social {
		right: 33%;
	}

	.arrow-line  {
		display: none;
	}

	.timeline::before {
		height: 40%;
	}
}
@media only screen and (max-width: 725px){
	/*Big smartphones [426px -> 600px]*/
	.about-banner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: auto;
	}

	.about-profile {
		height: 50vh;
	}

	.about-profile img {
		width: 100%;
	}

	.about-text {
		line-height: 5%;
		width: 100%;
		height: auto;
		margin-bottom: 10%;
	}

	.about-text h1 {
		font-size: 1.4rem;
	}

	.about-text h2 {
		font-size: 1.2rem;
		margin-top: 5%;
	}

	.about-text p {
		font-size: 0.9rem;
		margin-top: 2%;
	}

	.timeline-item-inner .icon,
	.about-scroll-btn,
	.arrow-line  {
		display: none;
	}

	.social {
		display: none;
		right: 35%;
	}

	.social a {
		padding: 1% 0 1% 2%;
	}

	.social i {
		font-size: 0.8rem;
	}

	.tab-item {
		font-size: 1rem;
	}

	.language p {
		font-size: 1rem;
	}

	.language .icon {
		font-size: 2.5rem;
	}

	.skill-item p,
	.skill-item span {
		font-size: 0.9rem;
	}

	#info.page {
		height: auto;
	}

	.timeline::before {
		display: none;
	}

	.timeline-item {
		margin-bottom: 10px;
	}

	.timeline-item span {
		font-size: 0.7;
	}
	.timeline-item h3 {
		font-size: 1rem;
	}
	.timeline-item h4 {
		font-size: 0.7;
	}
	.timeline-item p {
		font-size: 0.7;
	}
	.timeline-item:nth-child(odd) {
		padding-right: 0;
	}
	.timeline-item:nth-child(even) {
		padding-left: 0;
	}
	.timeline-item:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 425px) {
	/*Small smartphones [326px -> 425px]*/	
	.about-banner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: auto;
	}

	.about-text {
		width: 100%;
		height: 80%;
		margin: auto;
	}
	.about-text h1 {
		font-size: 1.2rem;
	}

	.about-text h2 {
		font-size: 1rem;
	}

	.about-text p {
		font-size: 0.8rem;
	}

	.timeline-item-inner .icon,
	.about-scroll-btn,
	.arrow-line  {
		display: none;
	}

	.social {
		display: none;
		right: 25%;
		bottom: 2%;
	}

	.social a {
		padding: 1% 0 1% 2%;
	}

	.social i {
		font-size: 0.8rem;
	}

	.tab-item {
		font-size: 1rem;
		margin: 1% 25%;
	}

	.skill-item p,
	.skill-item span {
		font-size: 0.9rem;
	}

	.skill-item span {
		width: 30%;
	}

	#info.page {
		height: auto;
	}

	.about-tabs {
		display: flex;
		flex-direction: column;
	}

	.programming-languages {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		width: 100%;
		padding: 0px 30px;
	}

	.language {
		margin: 20px auto;
		width: 30%;
	}

	.language p {
		font-size: 0.8rem;
	}

	.language .icon {
		font-size: 2rem;
	}

	.timeline-item {
		margin-bottom: 10px;
	}

	.timeline-item span {
		font-size: 0.7;
	}
	.timeline-item h3 {
		font-size: 1rem;
	}
	.timeline-item h4 {
		font-size: 0.7;
	}
	.timeline-item p {
		font-size: 0.7;
	}
	.timeline-item:nth-child(odd) {
		padding-right: 0;
	}
	.timeline-item:nth-child(even) {
		padding-left: 0;
	}
	.timeline-item:last-child {
		margin-bottom: 0;
	}
}

@media screen and (orientation:landscape) and
(min-device-width: 726px) and (max-device-width: 1200px) {
	.about-profile {
		margin-right: 5%;
	}
}

@media screen and (orientation:landscape) and
(min-device-width: 320px) and (max-device-width: 920px) {
	.social {
		display: none;
	}
}

@media screen and (orientation:landscape) and
(min-device-width: 320px) and (max-device-width: 1200px) {
	.about-banner { 
		padding-top: 3%;
	}
	.nav-list {
		height: 40vw;
	}

	#info.page,
	.about-banner {
		height: auto;
	}

	.about-profile {
		height: 80vh;
	}

	.about-profile {
		margin-bottom: 10%;
	}

	.about-text  {
		margin-bottom: 20%;
	}

	.social {
		bottom: 5%;
	}
}