@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.project-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #242424;
  width: 100%;
  background: #d2deef;
  -webkit-box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  border-radius: 5px;
  min-height: 92vh;
  padding: 1.5rem;
}

.projects-wrapper {
  padding: 0;
  border-radius: 5px;
}

.project-card {
  display: -webkit-box;
  display: flex;
  gap: 1.5rem;
  list-style: none;
  color: #242424;
  margin: 0 0 2rem 0;
  padding: 1rem;
  height: 346px;
  background: #d2deef;
  -webkit-box-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
  box-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
  border: 1px solid #dfe1e6;
  border-radius: 5px;
}

.project-card:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.project-img-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2px;
  -webkit-box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  border-radius: 5px;
}

.project-img {
  display: block;
  -o-object-fit: fill;
  object-fit: fill;
  width: 100%;
  height: 100%;
  border: 1px solid #dfe1e6;
  border-radius: 5px;
}

.project-content {
  -webkit-box-flex: 1.2;
  -ms-flex: 1.2;
  flex: 1.2;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.project-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding: 0;
}

.project-name {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.project-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0;
}

.project-info img {
  width: 8px;
  height: 8px;
  margin: 0 1rem;
}

.project-info p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: #454c58;
  margin: 0;
}

.projects-modal {
  list-style: none;
}

.projects-modal .modal-close {
  text-align: end;
}

.projects-modal .modal-close button {
  font-weight: 600;
  font-size: 1.2rem;
  width: 7rem;
  height: 2.2rem;
  color: #172b4d;
  border: none;
  outline: none;
  background: linear-gradient(145deg, #e1eeff, #a5b1c2);
  -webkit-box-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
  box-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
  border-radius: 5px;
}

.projects-modal .modal-close button:hover {
  background: #d2deef;
  -webkit-box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  color: #1f73c8;
  cursor: pointer;
}

.tools-wrapper {
  margin: 1rem 0;
}

.tools {
  display: -webkit-box;
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  height: auto;
}

.tools font {
  color: #ff3773;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.tools ul {
  display: -webkit-box;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tools ul li {
  font-weight: 500;
  letter-spacing: 0.03em;
  margin: 0 0.5rem;
}

.contributors {
  margin-bottom: 1rem;
}

.contributors p {
  font-weight: 600;
  font-size: 1rem;
  color: #454c58;
  margin: 0;
}

.tasks ul li {
  display: -webkit-box;
  display: flex;
}

.tasks ul li p {
  height: 24px;
  width: auto;
}

.description {
  font-size: 1.1rem;
  width: 100%;
  height: 120px;
  line-height: 24px;
  margin: 0;
}

.modal-description {
  font-size: 1.1rem;
}

.actions {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 72px;
  padding: 0;
}

.actions .action-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.2rem;
  width: 7rem;
  height: 2.2rem;
  margin: 0 1rem;
  color: #172b4d;
  border: none;
  outline: none;
  background: linear-gradient(145deg, #e1eeff, #a5b1c2);
  -webkit-box-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
  box-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
  border-radius: 5px;
}

.actions .action-btn:hover {
  background: #d2deef;
  -webkit-box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  color: #1f73c8;
  cursor: pointer;
}

.actions .action-btn:disabled {
  cursor: not-allowed;
  background: #d2deef;
  -webkit-box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  color: #8f8f8f;
}

.coming-soon {
  width: 100%;
  height: 85vh;
  margin: 0;
  padding: 0;
}

.coming-soon img {
  display: block;
  -o-object-fit: fill;
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (max-width: 958px) {
  .project-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }

  .project-card:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
