@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

.project-container {
  display: flex;
  flex-direction: column;
  color: $dark-color;

  @include inner_page;

  min-height: 92vh;
  padding: 1.5rem;
}

.projects-wrapper {
  padding: 0;
  border-radius: 5px;
}

.project-card {
  display: flex;
  list-style: none;
  color: $dark-color;
  margin: 0 0 2rem 0;
  padding: 1rem;
  height: 396px;
  background: $bg-color;
  box-shadow: $outer-shadow;
  border: 1px solid #dfe1e6;
  border-radius: 5px;
}

.project-card:nth-child(even) {
  flex-direction: row-reverse;
}

.project-img-wrapper {
  flex: 1;
}

.project-img {
  display: block;
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.project-content {
  flex: 1.2;
  border: 1px solid purple;
}
