@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  color: #242424;
  width: 100%;
  background: #d2deef;
  -webkit-box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
          box-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
  border-radius: 5px;
}

.contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  border-radius: 5px;
}

.contact-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  min-width: 200px;
  height: 80%;
  margin: 0 1rem 0 1rem;
  background: linear-gradient(145deg, #83b8cd, #6e9bad);
  -webkit-box-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
          box-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
  border-radius: 5px;
}

.contact-tab i {
  width: 1.875rem;
  height: 1.875rem;
  padding-top: 5px;
  border-radius: 10px;
  color: #ff3773;
}

.contact-tab h4 {
  font-weight: bold;
}

.contact-container form {
  -webkit-box-flex: 2.3;
      -ms-flex: 2.3;
          flex: 2.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #7aacc0;
  -webkit-box-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
          box-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
  border-radius: 5px;
}

.form-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 100%;
}

.form-heading {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.f-name, .f-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem auto;
  width: 90%;
  border-radius: 5px;
  padding: 0.5rem;
  background: #75a5b8;
  -webkit-box-shadow: inset 2px 2px 4px #638c9c, inset -2px -2px 4px #87bed4;
          box-shadow: inset 2px 2px 4px #638c9c, inset -2px -2px 4px #87bed4;
  border-radius: 5px;
}

.f-name font, .f-email font {
  font-size: 1.2rem;
}

.f-name input, .f-email input {
  height: 1.875rem;
  width: auto;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #929292;
  color: #3b3b3b;
  margin: 0.625rem 0;
}

.f-email input::-webkit-input-placeholder,
.f-name input::-webkit-input-placeholder {
  opacity: 0.8;
  letter-spacing: 1px;
}

.f-email input:-ms-input-placeholder,
.f-name input:-ms-input-placeholder {
  opacity: 0.8;
  letter-spacing: 1px;
}

.f-email input::-ms-input-placeholder,
.f-name input::-ms-input-placeholder {
  opacity: 0.8;
  letter-spacing: 1px;
}

.f-email input::placeholder,
.f-name input::placeholder {
  opacity: 0.8;
  letter-spacing: 1px;
}

.f-email input:focus,
.f-name input:focus {
  border-bottom: 1px solid #17d1ac;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.form-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.message font {
  font-size: 1.2rem;
  color: #3b3b3b;
}

.message {
  margin: 1.5rem;
  padding: 0.5rem;
  height: 100%;
  background: #75a5b8;
  -webkit-box-shadow: inset 2px 2px 4px #638c9c, inset -2px -2px 4px #87bed4;
          box-shadow: inset 2px 2px 4px #638c9c, inset -2px -2px 4px #87bed4;
  border-radius: 5px;
}

.form-right textarea {
  width: 100% !important;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3b3b3b;
  font-size: 1.2rem;
}

.form-right textarea::-webkit-input-placeholder {
  opacity: 0.8;
  font-size: 1rem;
  letter-spacing: 2px;
}

.form-right textarea:-ms-input-placeholder {
  opacity: 0.8;
  font-size: 1rem;
  letter-spacing: 2px;
}

.form-right textarea::-ms-input-placeholder {
  opacity: 0.8;
  font-size: 1rem;
  letter-spacing: 2px;
}

.form-right textarea::placeholder {
  opacity: 0.8;
  font-size: 1rem;
  letter-spacing: 2px;
}

.form-right button {
  font-weight: bold;
  outline: none;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 1.5rem 1.5rem 1.5rem;
  background-color: #1ed98b;
  -webkit-box-shadow: 5px 5px 10px #6892a3, -5px -5px 10px #8cc6dd;
          box-shadow: 5px 5px 10px #6892a3, -5px -5px 10px #8cc6dd;
  border-radius: 5px;
}

@media only screen and (max-width: 640px) {
  .contact-container {
    height: auto;
  }
  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-tab {
    width: 100%;
    padding: 0.625rem;
    margin: 1rem auto;
  }
  .contact-container form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-left {
    width: 100%;
  }
  .form-heading {
    font-size: 1.5rem;
  }
  .form-right {
    width: 100%;
  }
}
/*# sourceMappingURL=Contact.css.map */