@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

.contact-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  color: $dark-color;

  @include inner_page;
}

.contact-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 5px;
}

.contact-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-width: 200px;
  height: 80%;
  margin: 0 1rem 0 1rem;
  background: linear-gradient(145deg, #83b8cd, #6e9bad);
  box-shadow: $outer-shadow;
  border-radius: 5px;

  i {
    width: 1.875rem;
    height: 1.875rem;
    padding-top: 5px;
    border-radius: 10px;
    color: $pink-color;
  }

  h4 {
    font-weight: bold;
  }
}

.contact-container form {
  flex: 2.3;
  display: flex;
  background: $page-background;
  box-shadow: $outer-shadow;
  border-radius: 5px;
}

.form-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
}

.form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  border-left: 1px solid rgba(255, 255, 255, 0.1);

  textarea {
    width: 100% !important;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #3b3b3b;
    font-size: 1.2rem;
  }

  textarea::placeholder {
    opacity: 0.8;
    font-size: 1rem;
    letter-spacing: 2px;
  }

  button {
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 1.5rem 1.5rem 1.5rem;
    background-color: #1ed98b;
    box-shadow: $tab-shadow;
    border-radius: 5px;
  }
}

.form-heading {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.f-name,
.f-email {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 90%;
  padding: 0.5rem;
  background: #75a5b8;
  box-shadow: $form-shadow;
  border-radius: 5px;
}

.f-name font,
.f-email font {
  font-size: 1.2rem;
}

.f-name input,
.f-email input {
  height: 1.875rem;
  width: auto;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #929292;
  color: #3b3b3b;
  margin: 0.625rem 0;
}

.f-email input::placeholder,
.f-name input::placeholder {
  opacity: 0.8;
  letter-spacing: 1px;
}

.f-email input:focus,
.f-name input:focus {
  border-bottom: 1px solid #17d1ac;
  transition: all ease 0.5s;
}

.message font {
  font-size: 1.2rem;
  color: #3b3b3b;
}

.message {
  margin: 1.5rem;
  padding: 0.5rem;
  height: 100%;
  background: #75a5b8;
  box-shadow: $form-shadow;
  border-radius: 5px;
}

@media only screen and (max-width: 640px) {
  .contact-container {
    height: auto;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact-tab {
    width: 100%;
    padding: 0.625rem;
    margin: 1rem auto;
  }

  .contact-container form {
    flex-direction: column;
  }

  .form-left {
    width: 100%;
  }

  .form-heading {
    font-size: 1.5rem;
  }

  .form-right {
    width: 100%;
  }
}
