$page-background: #7aacc0;
$linear-background: linear-gradient(145deg, #e1eeff, #a5b1c2);
$inner-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
$outer-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
$tab-shadow: 5px 5px 10px #6892a3, -5px -5px 10px #8cc6dd;
$form-shadow: inset 2px 2px 4px #638c9c, inset -2px -2px 4px #87bed4;
$dark-color: #242424;
$green-color: #00b893;
$pink-color: #ff3773;
$blue-color: #172b4d;
$active-color: #1f73c8;
$border-color: #dfe1e6;
$background-color: #d2deef;
