$dark-color: #242424;
$bg-color: #d2deef;
$page-bg: #7aacc0;
$inner-shadow: inset 2px 2px 4px #b3bdcb, inset -2px -2px 4px #f2ffff;
$outer-shadow: 2px 2px 4px #b3bdcb, -2px -2px 4px #f2ffff;
$linear-background: linear-gradient(145deg, #e1eeff, #a5b1c2);
$tab-shadow: 5px 5px 10px #6892a3, -5px -5px 10px #8cc6dd;
$form-shadow: inset 2px 2px 4px #638c9c, inset -2px -2px 4px #87bed4;
$inner-tab: inset 5px 5px 10px #6892a3, inset -5px -5px 10px #8cc6dd;
$green-color: #00b893;
$pink-color: #ff3773;
$blue-color: #00366b;
$active-color: #1f73c8;
