@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*:not(i) {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

body {
  margin: 0;
  padding: 0;
  background: $background-color;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  margin: 0;
  padding: 0;
}

.homepage,
.about,
.projects,
.contact,
.expertise {
  flex: 14;

  @include page;

  height: auto;
  min-height: 98vh;
}

.buttonActive {
  text-align: center;
  font-weight: 600;
  padding: 0.3rem 1rem;

  @include button_hover;

  color: $active-color;
  border-radius: 5px;
}

.about-text {
  animation: slideIn 1s ease;
}

.introduction,
.social-links,
.contact-info {
  animation: slideDown 1s ease;
}

.banner-actions,
.about-scroll-btn,
.expertise {
  animation: slideUp 1s ease;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
