@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*:not(i) {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
}

.App {
  display: flex;
  margin: 0;
  padding: 0;
}

.homepage,
.about,
.projects,
.contact {
  flex: 14;

  @include page;

  height: auto;
  min-height: 98vh;
}

.profile,
.about-text {
  animation: slideIn 1s ease;
}

.introduction,
.social-links {
  animation: slideDown 1s ease;
}

.banner-actions,
.about-scroll-btn {
  animation: slideUp 1s ease;
}


@keyframes slideIn {
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0px)
  }
}

@keyframes slideDown {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0px)
  }
}

@keyframes slideUp {
  0%{
    opacity: 0;
    transform: translateY(100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0px)
  }
}