*:not(i) {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
}

.App {
  display: flex;
  margin: 0;
  padding: 0;
}

.homepage,
.about,
.projects,
.contact {
  flex: 14;

  @include page;
}
