@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

.about-banner {
  display: flex;
  flex-direction: column;
  color: $dark-color;

  @include inner_page;

  height: 100%;
  padding: 1.5rem;
}

.about-scroll-tab,
.social-links,
.about-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-profile {
  flex: 10;
  display: flex;
}

.about-img-wrapper {
  flex: 1;
  padding: 1rem;
}

.about-img {
  width: 25vw;
  height: 25vw;
  border-radius: 5px;
  box-shadow: $outer-shadow;
}

.about-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Raleway', 'Poppins', sans-serif;
  padding: 1rem 1rem 1rem 2rem;
}

.about-text h1{
  text-align: center;
  font-weight: 500;
	font-size: 4rem;
	color: $light-green-color;
}

.about-text h2{
  text-align: center;
  font-weight: 400;
	font-size: 2rem;
	color:$pink-color;
  margin-top: 0;
}

.about-scroll-tab {
  flex: 1;
}

.about-scroll-btn {
  font-weight: 500;
  color: $dark-color;
  font-family: 'Raleway', 'Poppins', sans-serif;
  padding: 0.3rem 1rem;
  background: $linear-background;
  box-shadow: $outer-shadow;
  border-radius: 5px;

  .chevron.down.icon {
    color: $light-green-color;
    margin-left: 0.3rem;
  }
}

.social-links {
  flex: 1;
}

.social-links a {
	margin: 0 12px;
	padding: 0.2rem 0.2rem 0.2rem 0.5rem;
	background: $linear-background;
	box-shadow: $outer-shadow;
  border-radius: 5px;
}

.social-links i {
	color:#ff3773;
	font-size: 1em;
}

.about-scroll-btn:hover,
.social-links a:hover {
  @include button_hover;
  cursor: pointer;
}

@media only screen and (max-width: 540px) {
  .about-profile {
    flex-direction: column;
    padding: 0;
  }
}