@import '../variables/variables.scss';

@mixin button_hover {
  background: $background-color;
  box-shadow: $inner-shadow;
}

@mixin page {
  padding: 1px;
  margin: 5px;
  background: $page-background;
  box-shadow:
    1px 1px 1px #6892a3,
    -1px -1px 1px #8cc6dd;
  border-radius: 5px;
}

@mixin inner_page {
  width: 100%;
  background: $background-color;
  box-shadow: $inner-shadow;
  border-radius: 5px;
}
